INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
missing
src/Makefile.in
src/devregs.o
src/devregs
Makefile
config.guess
config.log
config.status
config.sub
src/.deps/
src/Makefile
